html{
    background-color: black;
    color: white;
}

#box{
    width: 200px;
    height: 200px;
    border: white 2px solid;

}

ul{
    list-style-type: none;
}
.green_box{
    background-color: green;
}

.wrapper { 
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-left: 650px;
    margin-top: 300px;
} 
